.u-section-1 .u-sheet-1 {
  min-height: 1126px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 382px;
  margin: 46px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-4 {
  font-size: 1.25rem;
  border-style: double;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 400;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 2em;
  animation-duration: 1000ms;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 400;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
  font-size: 2em;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-18 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-22 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-29 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-30 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-33 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-34 {
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 32px 15px 60px auto;
  padding: 10px 13px 10px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 391px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 141px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1036px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 49px 330px 0 341px;
}

.u-section-2 .u-text-2 {
  margin: 17px 0 0 910px;
}

.u-section-2 .u-table-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  font-size: 1.25rem;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 25px 0 0 1032px;
  padding: 10px 13px 10px 12px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: -62px 132px 25px auto;
  padding: 10px 13px 10px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 230px;
    margin-left: 241px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 710px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 832px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 120px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 490px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 612px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 30px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 310px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 432px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 110px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 232px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 43px 330px 0 341px;
}

.u-section-3 .u-table-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-1 {
  font-size: 1.25rem;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 15px 0 60px 1032px;
  padding: 10px 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 230px;
    margin-left: 241px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 832px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 120px;
    margin-left: 131px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 612px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 30px;
    margin-left: 41px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 432px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 232px;
  }
}