.u-section-5-1 {
  background-image: none;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 491px;
}

.u-section-5-1 .u-layout-wrap-1 {
  margin-top: 68px;
  margin-bottom: 41px;
}

.u-section-5-1 .u-layout-cell-1 {
  min-height: 382px;
}

.u-section-5-1 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-5-1 .u-icon-1 {
  height: 150px;
  width: 150px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 19px auto 0;
}

.u-section-5-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-5-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 382px;
}

.u-section-5-1 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-5-1 .u-icon-2 {
  height: 142px;
  width: 142px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 19px auto 0;
}

.u-section-5-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-5-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 382px;
}

.u-section-5-1 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-5-1 .u-icon-3 {
  height: 150px;
  width: 150px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 19px auto 0;
}

.u-section-5-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-5-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5-1 .u-layout-cell-4 {
  min-height: 382px;
}

.u-section-5-1 .u-container-layout-4 {
  padding: 19px 30px;
}

.u-section-5-1 .u-icon-4 {
  height: 150px;
  width: 150px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-5-1 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-5-1 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-5-1 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5-1 .u-icon-1 {
    margin-left: 78px;
    margin-right: 78px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5-1 .u-icon-2 {
    margin-left: 78px;
    margin-right: 78px;
  }

  .u-section-5-1 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-5-1 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5-1 .u-icon-3 {
    margin-left: 78px;
    margin-right: 78px;
  }

  .u-section-5-1 .u-layout-cell-4 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-5-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5-1 .u-icon-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5-1 .u-icon-2 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-5-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5-1 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5-1 .u-icon-3 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-5-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5-1 .u-icon-1 {
    margin-left: 103px;
    margin-right: 103px;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5-1 .u-icon-2 {
    margin-left: 103px;
    margin-right: 103px;
  }

  .u-section-5-1 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5-1 .u-icon-3 {
    margin-left: 103px;
    margin-right: 103px;
  }

  .u-section-5-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5-1 .u-icon-1 {
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5-1 .u-icon-2 {
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-5-1 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5-1 .u-icon-3 {
    margin-left: 89px;
    margin-right: 89px;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(195,225,235,0.05), rgba(195,225,235,0.05)), url("images/1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1187px;
  margin: 94px auto 58px -35px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 865px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 134px 232px 0 53px;
}

.u-section-1 .u-text-2 {
  margin: 60px 106px 0 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 865px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  width: 513px;
  min-height: 567px;
  background-image: linear-gradient(#e5e5e5, #9accdb);
  margin: 87px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 86px;
  width: 86px;
  color: rgb(56, 129, 122) !important;
  margin: 47px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: none;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: -6px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 36px;
    margin-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 685px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(#aba8a4, #eff7fa);
}

.u-section-2 .u-sheet-1 {
  min-height: 85px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 33px auto 0 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-bottom: 60px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 611px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 6px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 446px;
  background-image: linear-gradient(#f7d79a, #9accdb);
}

.u-section-3 .u-container-layout-1 {
  padding: 22px 10px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 0 0 20px;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 446px;
  background-image: linear-gradient(#f7d79a, #c3e1eb);
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 22px 13px 0 30px;
}

.u-section-3 .u-text-5 {
  margin: 20px 30px 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 30px 0;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 30px 30px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 392px;
  background-image: linear-gradient(#c3e1eb, #fbf8c7);
}

.u-section-3 .u-container-layout-3 {
  padding: 22px 30px 30px;
}

.u-section-3 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.75rem;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-9 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-icon-3 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 64px;
  width: 64px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 392px;
  background-image: linear-gradient(#effaf9, #9accdb);
}

.u-section-3 .u-container-layout-4 {
  padding: 22px 30px 30px;
}

.u-section-3 .u-text-10 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.75rem;
}

.u-section-3 .u-text-11 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-13 {
  width: 146px;
  margin: 94px auto 1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 323px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 53px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 1px auto 1px 0;
}.u-block-98f9-5 {
  position: absolute;
  top: auto;
  bottom: 15px;
}

.u-block-98f9-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-block-98f9-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
  background-image: none;
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 53px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 1px auto 1px 0;
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 90px;
  margin-bottom: 25px;
}

.u-section-7 .u-image-1 {
  min-height: 738px;
  background-image: url("images/1.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 365px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/918309_medium2000.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 47px auto 0;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 44px 20px 0;
}

.u-section-7 .u-text-2 {
  margin: 6px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 365px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/g91563c064b09e09b89468bd8b182dba0cb56bf63043b6990069d2152056e11742fa43d986937efe8a46fcb34af58d0f1fc566e1c90a324dcc55a3c89fe25ff42_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 47px auto 0;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 44px 20px 0;
}

.u-section-7 .u-text-4 {
  margin: 6px 0 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 373px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-4 {
  width: 180px;
  height: 180px;
  background-image: url("images/gefed7b810dbbecc087932505dac36b8b882f44cd391a37213647f3439b844c5782715a76bbcde1903bd366b280dacfec2eb49055c3458957b210e6c59f75dd07_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 34px auto 0;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 20px 0;
}

.u-section-7 .u-text-6 {
  margin: 6px auto 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 373px;
}

.u-section-7 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-5 {
  width: 180px;
  height: 180px;
  background-image: url("images/g9a124750b94d38999bcfdc8b90c0c1787b0349825ccfdeb2768102907753c895484d2c94593ee21d2c16dceeeab15f678c1e82b1be64744b07ca955507a62808_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 61px auto 0;
}

.u-section-7 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 20px 0;
}

.u-section-7 .u-text-8 {
  width: 126px;
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-image-1 {
    min-height: 609px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 301px;
  }

  .u-section-7 .u-image-2 {
    width: 148px;
    height: 148px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-7 .u-image-3 {
    width: 148px;
    height: 148px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 308px;
  }

  .u-section-7 .u-image-4 {
    width: 148px;
    height: 148px;
  }

  .u-section-7 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 308px;
  }

  .u-section-7 .u-image-5 {
    width: 148px;
    height: 148px;
  }

  .u-section-7 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-8 {
    width: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    min-height: 933px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-image-3 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-image-4 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-6 {
    margin-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-image-5 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-8 {
    width: 79px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    min-height: 700px;
  }

  .u-section-7 .u-image-2 {
    width: 107px;
    height: 107px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-image-3 {
    width: 107px;
    height: 107px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-image-4 {
    width: 107px;
    height: 107px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-image-5 {
    width: 107px;
    height: 107px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-8 {
    width: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    min-height: 441px;
  }

  .u-section-7 .u-image-2 {
    width: 89px;
    height: 89px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-image-3 {
    width: 89px;
    height: 89px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-image-4 {
    width: 89px;
    height: 89px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-image-5 {
    width: 89px;
    height: 89px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-8 {
    width: 62px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 62px;
}

.u-section-8 .u-text-1 {
  font-weight: 900;
  margin: 10px auto 0 0;
}.u-section-9 {
  background-image: linear-gradient(#eff7fa, #38817a);
}

.u-section-9 .u-sheet-1 {
  min-height: 518px;
}

.u-section-9 .u-list-1 {
  margin-top: 31px;
  margin-bottom: 31px;
  grid-template-rows: auto;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 457px;
}

.u-section-9 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/6de3c3685d8edeec54d9d99a8870d50985fffc12bd08e1db4267fa1d327d1eb09d763efa826d7102b771b5e6bea8d6f27a2219aaf3b6897e03619f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 18px 13px;
}

.u-section-9 .u-text-1 {
  margin: 278px 17px 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 17px 0;
}

.u-section-9 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/c5bb2dfac5ae9d4a6e3ff502e69d3a0de4e82690db9448d72a7eb4b330e7e6866a15942574bdd806bd3d9323cdcd2142b6aa6044c299410083ef6c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 18px 13px;
}

.u-section-9 .u-text-3 {
  margin: 278px 17px 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 17px 0;
}

.u-section-9 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ead6b8abdb9967e77f8333f699b69ef000c8e5a979e0fe3e7b1f16ef9b079a4e0ca6be58c55213cd870878152956041fb9679e9d59d9a3e9edd56a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-3 {
  padding: 18px 13px;
}

.u-section-9 .u-text-5 {
  margin: 278px 17px 0;
}

.u-section-9 .u-text-6 {
  margin: 20px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 377px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 866px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-10 {
  background-image: linear-gradient(#38817a, #385a57);
}

.u-section-10 .u-sheet-1 {
  min-height: 69px;
}

.u-section-10 .u-text-1 {
  font-weight: 900;
  margin: 17px auto 0 0;
}