.u-section-1 {
  background-image: linear-gradient(#f2f2f2, #9accdb);
}

.u-section-1 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: none;
  text-decoration: underline !important;
  width: 841px;
  margin: 98px auto 0;
}

.u-section-1 .u-form-1 {
  height: 540px;
  width: 960px;
  margin: 59px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
}

.u-section-1 .u-form-group-9 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 56px 679px 0 231px;
  padding: 30px 80px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: -85px 215px 60px auto;
  padding: 30px 80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 940px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-1 .u-form-group-4 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-1 .u-form-group-7 {
    width: 100%;
  }

  .u-section-1 .u-form-group-8 {
    width: 100%;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 579px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 469px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 310px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 110px;
  }
}